<p>app-search</p>

<div class="row">
    <div class="col-10">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Type here to search..." [(ngModel)]="word" [value]="word">
        </div>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" (click)="onEnter()">Search</button>
    </div>
</div>

<div class="row" *ngIf="word !== null && router.url.startsWith('/search')">
    <div class="col-12">
        <pre><strong>Searching: </strong>{{ word }}</pre>
    </div>
</div>